@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* , *::before , *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}
  
*::-webkit-scrollbar {
    display: none; /
  }
  

body{
    font-family: work sans;
    background: var(--light-white);
    position: relative;
}

:root{
    --white-color: #fff;
    --black-color: #000;
    --light-white: #f9f9f9;
    --gray-color: #d7d7d7;
    --hover-color: rgb(109, 71, 45);
    --hover-color2: rgb(78, 45, 18);
    --p-color: rgba(255, 255, 255, 0.712);
    --p-color2: rgba(51, 51, 51, 0.658);
}
section{
    padding:  3.75rem 1rem;
    background: var(--light-white);
    z-index: 1;
    margin-top: -5px;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.mybtn{
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}
p{
    color: var(--p-color2);
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*INFO:NAVBAR*/
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 1440px;
    width: 100%;
    background: transparent;
    z-index: 999;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    z-index: 999;
}

header nav div{
    width: 40px;
    height: 40px;
}

header nav div:last-child{
    display: flex;
    width: auto;
    height: 30px;
    gap: 1.5em;
    
}

header nav div img:hover{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    filter: blur(1px);
}

/*INFO:BANNER*/
main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.banner {
    position: relative;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    height: 80dvh;
    overflow-x: hidden;
  }
  .bannerVideo{
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    border-radius: 100% 100% 0 0 / 100% 100% 0 0;
    bottom: -5px;
    left: 0;
    background: var(--light-white);
    
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    
  }
  .xtr{
    position: relative;
    width: 100%;
    height: 80vh;
    height: 80dvh;    
    z-index: 1;
  }
  .controls {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 55;
  }
  .soundBtn {
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    font-size: 1.6rem;
    z-index: 55;
  }
  
  .banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.829) 5%, transparent 100%);
  }
  .bannerContent{
    text-align: center;
    min-width: 250px;
    max-width: 700px;
    z-index: 1;
    h4{
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--p-color);
    }
    h1{
        font-size: 5.5rem;
        font-weight: 900;
        color: var(--white-color);
        font-family: "Pacifico", serif;
    }
    p{
        font-size: 1rem;
        font-weight: 400;
        color: var(--p-color);
    }
  }
.cat-coffee{
    max-width: 150px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}
.who{
    width: 180px;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--black-color);

}

.about-content{
    h2{
        font-size: 2.5rem;
        font-weight: 600;
        color: var(--black-color);
        min-width: 300px;
        max-width: 1250px;
    }
    p{
        text-align: right;
        font-size: 1rem;
        font-weight: 400;
        max-width: 500px;
        float: right;
        margin-top: 25px;
    }
}
.topbannerBG{
    width: 100%;
    height: 600px;
    background: url('./images/coffee-shop.webp');
    border-radius: 15px;
    background-size: cover;
    background-position:  center center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    top: 10px;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.829) 5%, transparent 100%);
    }
}



/*INFO:Coffee*/
.coffee-content{
    max-width: 410px;
    h1{
        font-size: 2.1rem;
        font-family: "Dancing Script", cursive;
        color: var(--black-color);
    }
    p{
        margin-top: 15px;
        font-size: 1rem;
        font-weight: 400;
    }
}
.filters input {
  display: none;
}

.tags ul {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

.tags ul li {
  list-style: none;
  padding: 0.5em 1.2em;
  background: transparent;
  border: 2px solid var(--hover-color);
  border-radius: 30px;
  color: var(--hover-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.tags ul li.active {
  background: var(--hover-color2);
  color: var(--white-color);
}

/* INFO:Coffee Gallery Section */
.Coffee-gellery {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: center;
  align-items: center;
  margin-top: 2em;

}
.Coffee-gellery:hover .overlay{
  transform: translateY(250px);
  z-index: 5;

}
.Coffee-gellery  .item:hover{
  filter: brightness(.9);
  img{
    transform: scale(1.1);
  }
}
.item.hide {
  display: none;
  opacity: 0; 
  transform: scale(0.9); 
  pointer-events: none;
}

.item {
  position: relative;
  width: 250px;
  height: 350px;
  overflow: hidden;
  cursor: pointer;
  display: block;
  opacity: 1;
  background: #d6d6d627;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.item:hover .overlay{
  transform: translateY(0);
  z-index: 1;
  a{
    transform: translateY(0);
  }
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(78, 45, 18, 0.466) 5%, transparent 100%);
  z-index: -1;
  width: 100%;
  height: 80%;
  display: flex;
  transition: 0.4s ease-in-out;
  justify-content: center;
  align-items: center;
  transform: translateY(150%);
  
  a{
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.2rem;
    transition-delay: .4s !important;
    transition: background 0.2s ease-in-out;
    transition: transform 0.4s ease-in-out;
    font-family: "Pacifico", serif;
    transform: translateY(-700px);
    padding: .4rem .7rem;
    border: solid 1px var(--white-color);
    &:hover{
      background: var(--hover-color);
      border: solid 1px var(--hover-color);
    }
  }

}

.item img {
  position: absolute;
  top: 0%;
  left: 00%;
  width: 100%;
  height: 80%;
  transition: all 0.3s ease-in-out;
  object-fit: contain;
}
.coffeeInfo{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem;
  background: var(--light-white);
  height: 20%;
  border-top: 0 !important;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.055);
  justify-content: space-between;
  align-items: center;
  padding: 0 0.7rem;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
transform: scale(1);
  h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--black-color);
  }
  p{
    
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--black-color);
    opacity: 0.7;
    .tk{
      color: rgb(11, 163, 11);
      font-weight: 900;
      font-size: 1.2rem;
    }
  }
}
.item.show {
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
